@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/global.css */

/* Define a class or target an element */
.bg-div1 {
  background-image: url('/city-bg1.jpg'); /* Adjust the path as per your image location */
  background-size: cover;
  background-position: center;
  min-height: 300px; /* Adjust as needed */
  /* Add more styles if necessary */
}
.bg-div2 {
  background-image: url('/city-bg2.jpg'); /* Adjust the path as per your image location */
  background-size: cover;
  background-position: center;
  min-height: 300px; /* Adjust as needed */
  /* Add more styles if necessary */
}
.bg-div3 {
  background-image: url('/city-bg3.jpg'); /* Adjust the path as per your image location */
  background-size: cover;
  background-position: center;
  min-height: 300px; /* Adjust as needed */
  /* Add more styles if necessary */
}
.bg-login {
  background-image: url('/login.png'); /* Adjust the path as per your image location */
  background-size: cover;
  background-position: center;
  min-height: 200px; /* Adjust as needed */
  /* Add more styles if necessary */
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #ff6b00; /* orange color */
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.custom-checkbox.filled {
  background-color: #ff6b00; /* orange color */
}

