@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-div1 {
  background-image: url('/city-bg1.jpg'); 
  background-size: cover;
  background-position: center;
  min-height: 300px; 
}
.bg-div2 {
  background-image: url('/city-bg2.jpg'); 
  background-size: cover;
  background-position: center;
  min-height: 300px; 
}
.bg-div3 {
  background-image: url('/city-bg3.jpg'); 
  background-size: cover;
  background-position: center;
  min-height: 300px; 
}
.bg-login {
  background-image: url('/login.png'); 
  background-size: cover;
  background-position: center;
  min-height: 200px; 
}

.custom-checkbox {
  width: 10px;
  height: 10px;
  border: 2px solid white; 
  border-radius: 1px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.custom-checkbox.filled {
  background-color: white;
}

